<h1>Registrar Tanda</h1>
    <p>Tour: <%= tour.id %></p>
    <!-- Formulario para registrar la tanda -->
    <form action="/ruta-para-registrar-tanda" method="post">
        <!-- Añade campos del formulario aquí -->
        <input type="submit" value="Registrar Tanda">
    </form>